/* Design inspiration: https://luna.flemingcollege.ca/geom99/2020/webAlpha/index.htm */

/***********
GEOM99 Group Project
Collaborators: Kristine Luangkhot, Kathryn Little, James Serendip
Creation Date: March 26, 2020
***********/
* {
	box-sizing: border-box;
}

/* Taken from https://www.w3schools.com/css/css_rwd_grid.asp to ensure the columns for responsive design work properly */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Combined from https://www.w3schools.com/css/css_rwd_grid.asp and https://www.w3schools.com/css/css_rwd_mediaqueries.asp  */
[class*="col-"] {
  float: left;
  padding: 10px;
  width: 100%;
}

body {
	font-family:"Helvetica", Arial, sans-serif;
	margin: 0px;
}	

.background-grey {
	background-color: #f5f5f5;
}

  /* make header and navbar continuous with sections */
.outer-margin {
	padding: 0px;
}

h2, h3, h4, p {
	text-align: center;
}

.title-left {
	font-style: italic;
	text-align: left;
}

li {
	text-align: left;
}

.navbar {
	display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
  position: fixed;
  width: 100%;
  background-color: #003366;
  z-index: 1;
}

/* Change font and text colour of the navigation bar items to match chosen colour scheme */
.navbar a {
	float: left;
  display: block;
  font-family:"Helvetica", Arial, sans-serif;
  color: #FFFFFF99;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Active page is white and change inactive link color to white on hover */
.navbar a.active, .navbar a:hover, .dropdown-content a:hover {
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
	display: none;
  }

 /***********
Owner: Kristine Luangkhot
Date: November 28, 2020
***********/

/* Create a dropdown menu within the main navigation bar */
/* Instructions taken from https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */

  .dropdown {
	float: left;
	overflow: hidden;
	font-size: inherit;
	border: none;
	outline: none;
	color: #FFFFFF99;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }

  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #3182bd;
	min-width: 180px;
	z-index: 1;
	top: 100%;
  }

  .dropdown-content a {
	float: none;
	color:  #FFFFFF99;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  .dropdown:hover .dropdown-content {
	display: block;
  }

/* Apply style to header section with background image and text */
.main-header {
	background-image: url("../images/rice-lake.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.solutions-header {
	background-image: url("../images/pankaj-patel-u2Ru4QBXA5Q-unsplash.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.timeline-header {
	background-image: url("../images/vidar-nordli-mathisen-Kuu5mmxkwW4-unsplash.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-overlay {
	color: white;
	height: 500px;
}

/*Source for gradient from https://www.w3schools.com/css/css3_gradients.asp*/
.header-overlay-gradient {
	background-image: linear-gradient(45deg, black, transparent);
    opacity: 0.90;
}

.header-title {
	margin-top: 0px;
	padding-top: 200px;
	color: white;
	font-size: 30pt;
    text-align: center;
}
.blurb-text {
	margin-top: 20px;
	color: white;
	font-size: 14pt;
    text-align: center;
}

#footer-images {
	text-align: center;
	height: 75px;
}

.headshot {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.exp-image {
	width: 100%;
	height: 100%;
}

.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .button2 {
	background-color: white; 
	color: black; 
	border: 2px solid #3182bd;
  }
  
  .button2:hover {
	background-color: #3182bd;
	color: white;
  }
/* Taken from https://www.w3schools.com/css/css_rwd_mediaqueries.asp
Styles for small devices (phones and narrow tablets) */
  @media only screen and (min-width: 768px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	nav.sidebar {height: 430px;}
	.section-style-1col {
		margin-left: 16.67%;
		margin-right: 16.67%;
		text-align: center;
	}
}
  /* Responsive design: minimize navigation bar and have a hambuger "menu" icon show up at a certain pixel width */
/* Taken from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
	.navbar a:not(:first-child), .dropdown {
		display: none;
	}
	.navbar a.icon {
	  float: right;
	  display: block;
	}
  }
  
  /* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 768px) {
	.navbar.responsive {position: fixed;}
	.navbar.responsive a.icon {
	  position: fixed;
	  right: 0;
	  top: 0;
	}
	.navbar.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	.navbar.responsive .dropdown {
		float: none;
		display: block;
		width: 100%;
		text-align: left;
	}
	.navbar.responsive .dropdown-content {position: relative;}
  }